@charset "UTF-8";

html {
    background-color: #000000;
}

.toolbar {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 200px;
}

.toolbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
}

.toolbar a:hover {
    color: #ee239a;
}

.btn {
    background-color: #08a48d;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

/* 漂亮的按鈕樣式（懸停時） */
.btn:hover {
    background-color: #ed6116;
}

.center {
    text-align: center;
    margin: auto;
}

.bor {
    width: 900px;
    /* 設置寬度 */
    height: 400px;
    /* 設置高度 */
    border: 5px solid rgb(240, 60, 171);
    /* 設置邊框 */
    box-shadow: 0 0 20px 5px rgba(239, 67, 207, 0.7);
    /* 設置發光效果 */
    background-color: transparent;
    /* 設置背景透明 */
    margin: auto;
    /* 水平和垂直置中 */
    padding: 50px;
}

@media screen and (max-width: 600px) {
    .bor {
        width: 300px;
    }
}

.bor textarea {
    width: 800px;
    /* 設置寬度為 300 像素 */
    height: 300px;
    /* 設置高度為 200 像素 */
}

@media screen and (max-width: 600px) {
    .bor textarea {
        width: 100%;
    }
}

.upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.upload  {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}